#app {
  padding-left: 50px;
}

#header{
  float: center;
  background-color: red;
}

.outline {
  background-color: #A3CFFF;
  border: solid;
}

#container {
  background-color: white;
  overflow: hidden;
  width: auto;
}

#inner {
  overflow: hidden;
  width: 2000px;
  border-color: black;
  border: solid;
  /* background-color: red; */
}

.child {
  float: left;
  background-color: white;
  width: 120px;
  padding-right: 25px;
  height: 20px;
}

.image {
  float: left;
  background-color: white;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  transform: translateY(50%);
}

.first {
  float: left;
  background-color: white;
  width: 120px;
  padding-right: 25px;
  padding-left: 65px;
  height: 20px;
}

.change {
  float: left;
  background-color: white;
  width: 200px;
  padding-right: 25px;
  /* height: 20px; */
}

.negative {
  float: left;
  background-color: white;
  width: 200px;
  padding-right: 25px;
  /* height: 20px; */
  color: red;
}

.positive {
  float: left;
  background-color: white;
  width: 200px;
  padding-right: 25px;
  /* height: 20px; */
  color: green;
}

.ticker {
  float: left;
  background-color: white;
  width: 55px;
  padding-right: 25px;
  height: 20px;
}

.arrowUp {
  float: left;
  background-color: white;
  width: 1px;
  padding-right: 25px;
  height: 20px;
  color: green;
}

.arrowDown {
  float: left;
  background-color: white;
  width: 1px;
  padding-right: 25px;
  height: 20px;
  color: red;
}