#logo {
  height: 80px;
  display: block;
  margin: 0 auto;
}

.red {
  background-color: red;
  border: solid 1px black;
}

.blue {
  background-color: blue;
  border: solid 1px black;
}

#title {
  text-align: center;
}

.headerL {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
  background-color: #F2F2F2;
}

.headerD {
  /* border-top-left-radius: 20px; */
  /* border-top-right-radius: 20px; */
  /* border: solid; */
  /* border-color: #A6A6A6; */
  /* border-width: thin; */
  background-color: #1F1F1F;
  color: #F2F2F2;
  width: 100%;
}

#headerD {
  float: center;
  width: 500px;
  height: 135px;
  padding-left: 260px;
  padding-top: 20px;
  background-image: linear-gradient(to right, #99AFF2, #A6A6A6, #0D0D0D);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
}

.darkModeContainerL {
  border: solid 1px #A6A6A6;
  background-color: #F2F2F2;
}

.darkModeContainerD {
  border: solid 1px #1F1F1F;
  background-color: #000;
  color: #FFF;
  width: 50%;
  height: 30px;
  text-align: center;
}

#cardListD {
  background-color: #000;
  padding-top: 1px;
}

.cardD {
  background-color: #3B3B3B;
  border: solid 1px #4E4E4E;
  width: 98%;
  margin: 10px 1%;
  height: 100px;
  border-radius: 15px;



  /* transition: box-shadow .3s; */
  /* border: 1px solid #A6A6A6; */
  /* float: left; */
  /* margin-top: 10px; */
  /* color: #F2F2F2; */
  /* transform: translateX(2%); */
}

/* .cardD div:nth-of-type(even) {
  background-color: #F2F2F2;
  color: #0D0D0D;
} */

.cardD:hover {
  box-shadow: 0 0 10px #A6A6A6; 
}

.imgContainer {
  width: 100px;
  height: 100px;
  /* background-color: red; */
  overflow: hidden;
  /* transform: rotate(30deg); */
  clip-path: polygon(50% 0%, 85% 25%, 85% 75%, 50% 100%, 15% 75%, 15% 25%);
}

.cardImg {
  /* size: inherit; */
  width: 100%;
  height: auto;
}








.labelBarL {
  background-color: #C4D4F2;
  width: 760px;
  height: 55px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #A6A6A6;
}

.labelBarD {
  background-color: #99AFF2;
  width: 760px;
  height: 55px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #A6A6A6;
  color: #F2F2F2;
}

.cardL {
  background-color: #F2F2F2;
  transition: box-shadow .3s;
  width: 100%;
  border-radius:10px;
  border: 1px solid #A6A6A6;
  margin-top: 10px;
  transform: translateX(2%);
}

/* .cardL div:nth-of-type(even) {
  background-color: #FFF;
} */

.cardL:hover {
  box-shadow: 0 0 10px #A6A6A6; 
}


.child {
  float: left;
  height: 50%;
  transform: translateY(50%);
}

.image {
  float: left;
  height: 30px;
  width: 30px;
  margin: auto 20px;
  transform: translateY(70%);
}

.name {
  float: left;
  height: 50%;
  margin: auto 20px;
  transform: translateY(50%);
}

.ticker {
  float: left;
  height: 50%;
  /* width: 55px; */
  /* padding-right: 25px; */
  /* height: 20px; */
  margin: auto 20px;
  transform: translateY(50%);
}

.change {
  float: left;
  /* width: 200px; */
  /* padding-right: 25px; */
}

.current {
  float: left;
  /* width: 200px; */
  /* padding-left: 25px; */
}

.negative {
  float: left;
  /* width: 200px; */
  /* padding-right: 25px; */
  color: red;
}

.positive {
  float: left;
  /* width: 200px; */
  /* padding-right: 25px; */
  color: green;
}


.arrowUp {
  float: left;
  /* width: 1px; */
  padding-right: 2px;
  /* height: 20px; */
  color: green;
}

.arrowDown {
  float: left;
  /* width: 1px; */
  /* padding-right: 25px; */
  padding-right: 2px;
  /* height: 20px; */
  color: red;
}

.navLink {
  float: left;
  width: 100px;
  padding: 12px;
  margin: 5px 10px;
  color: #F2F2F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.active {
  float: left;
  width: 100px;
  padding: 12px;
  margin: 5px 10px;
  color: #0D0D0D;
  background-color: #C4D4F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.space {
  float: left;
  width: 110px;
}

.form {
  padding-left: 50px;
  padding: 15px 20px;
}

#form {
  background-color: #0D0D0D;
  color: #F2F2F2;
  height: 25px;
  width: 80px;
}

#formName {
  display: inline-block;
  width: 150px;
  height: 20px;
  margin-right: 10px;
}

#formComment {
  display: inline-block;
  width: 250px;
  height: 20px;
  margin-right: 10px;
}

.hidden {
  visibility: hidden;
  background-color: #C4D4F2;
  width: 760px;
  border-radius:10px;
  border: 1px solid #A6A6A6;
  float: left;
}

.visible {
  visibility: visible;
  background-color: #C4D4F2;
  width: 760px;
  height: 50px;
  border-radius:10px;
  border: 1px solid #A6A6A6;
  float: left;
}

#head {
  padding-left: 30px;
}

.head {
  padding-top: 120px;
  padding-left: 30px;
}

#countDown {
  display: inline-block;
  right: 0;
  color: yellow;
}

.centered {
  display: flex;
  height: 30px;
  justify-content: center;
  transform: translateY(10%);
  height: auto;
}

.card {
  /* height: 80px; */
  width: inherit;
}

.centered-text {
padding-top: 10px;
}













.thumbnail {
  height: 56px;
  width: 56px;
}

.left {
  float: left;
}







#app {
  background-color: #0D0D0D;
}