#app {
  padding-left: 50px;
}

#logo {
  height: 80px;
  padding-left: 40px;
  position: absolute;
}

#title {
  padding-top: 60px;
  position: absolute;
}

#header{
  float: center;
  width: 500px;
  height: 125px;
  padding-left: 260px;
  background-color: #F2F2F2;
}

#navBar {
  background-color: #99AFF2;
  width: 760px;
  height: 55px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
}

.labelBar {
  background-color: #C4D4F2;
  width: 760px;
  height: 55px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
}

#container {
  background-color: white;
}

.card1 {
  overflow: hidden;
  background-color: #F2F2F2;
}

.card2 {
  overflow: hidden;
  background-color: 000;
}

#cardContainer {
  width: 760px;
  border: solid;
  border-color: #A6A6A6;
  border-width: thin;
}

.child {
  float: left;
  width: 120px;
  padding-right: 25px;
  height: 20px;
}

.image {
  float: left;
  width: auto;
  padding-right: 20px;
  padding-left: 20px;
  transform: translateY(50%);
}

.first {
  float: left;
  width: 120px;
  padding-right: 25px;
  padding-left: 65px;
  height: 20px;
}

.change {
  float: left;
  width: 200px;
  padding-right: 25px;
}

.current {
  float: left;
  width: 200px;
  padding-left: 25px;
}

.negative {
  float: left;
  width: 200px;
  padding-right: 25px;
  color: red;
}

.positive {
  float: left;
  width: 200px;
  padding-right: 25px;
  color: green;
}

.ticker {
  float: left;
  width: 55px;
  padding-right: 25px;
  height: 20px;
}

.arrowUp {
  float: left;
  width: 1px;
  padding-right: 25px;
  height: 20px;
  color: green;
}

.arrowDown {
  float: left;
  width: 1px;
  padding-right: 25px;
  height: 20px;
  color: red;
}

.navLink {
  float: left;
  width: 100px;
  padding: 12px;
  margin: 5px 10px;
  color: #F2F2F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.active {
  float: left;
  width: 100px;
  padding: 12px;
  margin: 5px 10px;
  color: #0D0D0D;
  background-color: #C4D4F2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.space {
  float: left;
  width: 250px;
}

.form {
  /* background-color: red; */
  padding-left: 50px;
  padding: 15px 20px;
}

#formName {
  display: inline-block;
  /* float: left; */
  width: 150px;
  height: 20px;
}

#formComment {
  /* float: left; */
  display: inline-block;
  width: 250px;
  height: 20px;
}
